<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
<% provide(:title, 'Home') %>
<h1>Sample App</h1>


<div class="navbar-nav pull-xs-rigth">
<!--Show Home Page-->
  <button style="background-position:center; position: center", class="favth-btn">
    <%= link_to 'Show Home Page', candidates_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>
<br><br>
<% if user_signed_in? %>

  <!--Sign Out-->
  <li class="favth-btn">
    <%= link_to 'Sign Out(Выход)', destroy_user_session_path, method: :delete, class: "btn btn-mini btn-warning", type: "button"%>
  </li>

  <% else %>
  <!--Login-->
  <button style="background-position:center; position: center", class="favth-btn">
    <%= link_to 'Login(Вход)', new_user_session_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>

  <br><br>
  <!--Sign Up-->
  <button style="background-position:center; position: center", class="favth-btn">
    <%= link_to 'Sign Up(Регистрация)', new_user_registration_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>

  <% end %>
</div>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

</body>
</html>