<p id="notice"><%= notice %></p>

<!--<h1>Candidates</h1>-->
<h1><%= link_to 'Candidates', candidates_path %></h1>

<table class="table  table-striped fixedtable" >
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <!--<th>Image</th>-->
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= image_tag candidate.image.thumb.url %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.description %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
