<head>
  <style type="text/css">

    #Home_page_Title{
      text-align: center;
    }

    #Home_page_Name_Pos_Comp{
      text-align: center;
      padding: 10px; /* Поля вокруг содержимого ячеек */
      word-wrap:break-word

    }
    table {
      width: auto !important;

    }
    td {
    ;
    }

    h3 {
      font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
      font-size: 150%; /* Размер текста */
      font-weight: lighter; /* Светлое начертание */
    }

  </style>
</head>
<body>
<div style=" background-position: left">


  <% if params[:q].present? %>

      <div style="    position: absolute; color: #589933"> <h3>
        Search results for "<%= params[:q] %>"
        <!-- Search Results for -->
      </h3></div>

  <% else %>
      <h1>
        <%= t('search.please_type_something') %>
        <!-- "Please, type anything" -->
      </h1>
  <% end %>

  <br>


  <table class="table table-striped container" style="text-align: center; padding: 25px">
    <thead>
    <div class="col-xs-8">
      <tr><div class="container" >
        <div class="row">
          <th></th>
          <th style="text-align: center; " >Name Candidate</th>
          <th style="text-align: center">Position</th>
          <!--<th style="text-align: center">Company</th>-->
          <th style="text-align: center"></th><br></div></div>
      </tr>
    </div>
    </thead>

    <tbody>
    <% if @candidates.present? %>
        <h1>
          Lits Finded Candidates
        </h1>
    <% else %>
        <tr> <h3>
          Nothing found by
          "<%= params[:q] %>"
        </h3>
    <% end %>
    <% @candidates.each do |candidate| %>
        <td><%= image_tag candidate.image.thumb.url %></td>
        <td class="Show" style="padding: 25px"><button class="favth-btn " ><%= link_to candidate.name, candidate, class: "btn btn-mini btn-primary", type: "button" %></button></td>
        <td class="Show" style="padding: 25px"><button class="favth-btn"><%= link_to candidate.description, candidate, class: "btn btn-mini btn-primary", type: "button" %></button></td>
       </tr>
    <% end %>
    </tbody>    <br>



    <br>


  </table>
  <div class="ttt" style="padding: 10px">
    <%= link_to 'Back', :back, class: 'btn btn-primary' %>
  </div></div>
</body>