<h1>The Candidate <%= @candidate.name %> </h1>
<p id="notice"><%= notice %></p>

<title>The Candidate<%= @candidate.name %> </title>
<p>
  <strong>Image:</strong>
  <%= image_tag @candidate.image.thumb.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candidate.description %>
</p>
<p>The Candidate <%= @candidate.name %> </p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
