<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="Logoimage"><%= image_tag("know_your_third-party.png", size: "150x150", :alt => "rss feed", id:'booksget_logo') %></div><!--тут ссылка на картинку-->
    <div class="container">
      <div class="p1"> <%= link_to "App", candidates_url, id: "logo" %></div>
      <nav class="nav pull-right buttons">
        <p>
         <%= link_to "Home",    home_path %>
         <%= link_to "Help",    help_path %>
         <% unless user_signed_in? %>

            <%= link_to "Sign in",  new_user_session_path %>
         <% else %>
            <%= current_user.email %>

            <%= link_to "Sign out",  destroy_user_session_path, method: :delete, data: { confirm: 'Вы уверены?' } %>
         <% end %>
        </p>
      </nav>
    </div>
  </div>
</header>
