<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="Logoimage"><%= image_tag("know_your_third-party.png", size: "150x150", :alt => "rss feed", id:'booksget_logo') %></div><!--тут ссылка на картинку-->
    <div class="container">
      <div class="p1"> <%= link_to "App", candidates_url, id: "logo" %></div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    home_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>