<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="Logoimage"><%= image_tag("know_your_third-party.png", size: "150x150", :alt => "rss feed", id:'booksget_logo') %></div><!--тут ссылка на картинку-->
    <div class="container">
      <div class="p1"> <%= link_to "App", candidates_url, id: "logo" %></div>
      <nav class="nav pull-right buttons">
        <p>
         <%= link_to "Home",    home_path %>
         <%= link_to "Help",    help_path %>

          <% if user_signed_in? %>
            <span>Здравствуйте, <%= current_user.email %></span>
            <%= link_to "Изменить свой пароль", edit_user_registration_path %>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
          <% end %>

        </p>
      </nav>
    </div>
  </div>
</header>
