<!DOCTYPE html>
<html>
  <head>
    <!--<title>TimeOfRecruiting</title>-->
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_on_Time.ico' %> <!--тут лежить логотип для страницы для вкладки-->

  </head>
  <!--##############################---Search--#############################################-->
  <div class="container search_margin_top" style="padding-top: 25px">
    <%#= label_tag(:q, "Search for:") %>
    <%= form_with url: search_path, local: true, method: :get do |form| %>
        <%= form.text_field :q, :size =>"40", placeholder: "Search yours Candidate", data:{behavior: "autocomplete"}, class: "form-control width_of_search" %>
        <div class="ttt" style="padding-top: 10px">
          <%= form.button "Search", class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
  </div>
  <body>

  <header class="navbar navbar-fixed-top navbar-inverse">


    <%= render 'layouts/header' %>

  </header>
    <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
